<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/launchlogo1"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/launchlogo1"
        android:supportsRtl="true"
        android:theme="@style/Theme.RepoMaster"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.AdminPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PaymentRatesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AdminNotificationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UploadedImageDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UploadedImagesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PendingImageUploadActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UploadedPhotoDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UploadedPhotosActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RepoImageUploadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CreateInvoice"
            android:exported="false" />
        <activity
            android:name=".activities.InvoiceDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.InvoiceActivity"
            android:exported="false" />
        <activity
            android:name=".activities.YardReportActivity"
            android:exported="false" />
        <activity
            android:name=".activities.YardVehiclesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditYard"
            android:exported="false" />
        <activity
            android:name=".activities.AddYard"
            android:exported="false" />
        <activity
            android:name=".activities.YardManagement"
            android:exported="false" />
        <activity
            android:name=".activities.UserReportActivity"
            android:exported="false" />
        <activity
            android:name=".activities.VehicleInfo"
            android:exported="false" />
        <activity
            android:name=".activities.VehicleReportActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UserActivityReportActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ReportListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UsersListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ResetPassword"
            android:exported="true" />
        <activity
            android:name=".activities.ForgetPassword"
            android:exported="true" />
        <activity
            android:name=".activities.EditUserProfile"
            android:exported="false" />
        <activity
            android:name=".activities.AdminSearchHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UserVehicleDetails"
            android:exported="false" />
        <activity
            android:name=".activities.ActivityChooserole"
            android:exported="false" />
        <activity
            android:name=".activities.PendingUsersActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UserRegistration"
            android:exported="false" />
        <activity
            android:name=".activities.ReportsActivity"
            android:exported="true" />
        <activity
            android:name=".activities.BulkUploadActivity"
            android:exported="true" />
        <activity
            android:name=".activities.ViewVehicleActivity"
            android:exported="true" />
        <activity
            android:name=".activities.AddVehicleActivity"
            android:exported="true" />
        <activity
            android:name=".activities.AdminDashboardActivity"
            android:exported="true" />
        <activity
            android:name=".activities.AdminRegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".activities.VehicleDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SearchVehicleActivity"
            android:exported="true" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>